<page xmlns="http://projectmallard.org/1.0/"
      type="topic" style="task"
      id="convertpdf">

  <info>
    <link type="guide" xref="index#tips"/>
    <desc>You can convert a document to PDF by "printing" it to a file.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.10.3" date="2014-03-22" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Anna Philips</name>
      <email>anna.cs.au@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>

<title>Converting a document to PDF</title>

<p>
You can convert documents of the following format types into PDF format:
</p>
<list>
 <item><p>PostScript (.ps)</p></item>
</list>
<p>
This works by opening the file in <app>Papers</app> and "printing" the document as a PDF file.
</p>
<steps>
    <item>
          <p>Click the <gui>File options</gui> menu in the top right corner and
          select <gui>Print</gui> or press
          <keyseq><key>Ctrl</key><key>P</key></keyseq> on your keyboard.</p>
    </item>
    <item>
      <p>
      Select <gui>Print to File</gui> and choose PDF as the
      <gui>Output format</gui>.
      </p>
    </item>
    <item>
      <p>
      Choose a name and folder in which to save the file, then click <gui>Print</gui>.
      The PDF will be saved in the folder you chose.
      </p>
    </item>
</steps>
<note>
<p>
You can't select text in PostScript files, but you usually can do
this in PDF files. Converting PostScript files to PDF will not make
the text selectable. This is because the text itself isn't stored in the file
(it's just an image of what the text looks like), so there is no way to recover
it and put it in the PDF. You can use <em>Optical Character Recognition</em>
(OCR) software to extract the text from files if you need to.
</p>
</note>

</page>
